/* Add this to your CSS */
.profile{
    background-color: white;
}
.hero-container {

  }
  
  .left {
    height: 200px;
    display: flex;
    justify-content: space-between;
  }

.women1 {
    width: 150px; /* adjust this value as needed */
    height: 200px; /* adjust this value as needed */
  }
  
  
  .right {
    /* Add any additional styles for the right div here */
    padding-right: 100px;
  }
  .para{
    align-items: center;
  }
  .star {
    margin-left: 150px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.star::before,
.star::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: gold;
}

.star::before {
  transform: rotate(45deg);
}

.star::after {
  transform: rotate(-45deg);
}
